body {
    font-family: 'Playfair Display', serif;
    background-color: #fffdf8;
}


.carousel-item img {
max-height: 500px;
object-fit: cover;
}




.formulario-presupuesto {
    background-color: #f9f1ff;
    padding: 2rem;
    border-radius: 10px;
}

footer {
    font-family: 'Playfair Display', serif;
}


